/* Home.css */

/* Style global de la page d'accueil */
.home {
  text-align: center;
  padding: 40px 20px;
  background-color: transparent;
z-index:1;
    position:relative;
}

.home h1 {
  font-size: 2rem;
  color: #2d3e50;
  margin-bottom: 30px;
}
